<div id="VinylInfo">
	<%= v.artist %><br/>
	<%= v.album %><br/>
	<%= v.genre %><br/>
	<%= v.year %><br/>
	<%= link_to 'Delete', v, method: :delete, confirm: 'Are you sure?' %>
	<%= link_to 'Edit', edit_vinyl_path(v), class: "btn" %>
	<%= link_to 'Details', v, class: "btn" %>
</div>