<h3>Vinyl Collection</h3>
<h5 id="VinylCount"><%= Vinyl.all.count %> Records and Counting!</h5>

<% if flash[:notice] %>
	<p class="flash_notice"><%= flash[:notice] %></p>
<% end %>

<div id="VinylCollection">
	<% Vinyl.all.order(:artist, :album).each do |v| %>
		<div id="VinylRow">
			<div id="VinylInfo">
				<%= link_to v.artist + " - " + v.album, vinyl_path(v) %>
			</div>
			<div id="VinylActions">
			<%= link_to (image_tag 'edit.png', width: 15, height: 15, alt: 'edit'), edit_vinyl_path(v) %>
			<%= link_to (image_tag 'delete.png', width: 15, height: 15, alt: 'delete'), v, method: :delete, confirm: 'Are you sure?' %>
			</div>
		</div>
	<br/>
	<% end %>
</div>
<br/>
<div class="BottomLink">
<%= link_to "Add Vinyl", new_vinyl_path, class: "btn btn-danger" %>
</div>