<h1>Vinyl Collection</h1>

<% Vinyl.all.each do |v| %>
<div id="VinylInfo">
	<%= v.artist %><br/>
	<%= v.album %><br/>
	<%= v.genre %><br/>
	<%= v.year %><br/>
</div>
<% end %>

<div class="BottomLink">
<%= link_to "Add Vinyl", new_vinyl_path %>
</div>