<h3>Vinyl Collection</h3>

<div id="VinylCollection">
	<% Vinyl.all.each do |v| %>
	<div id="VinylInfo">
		<%= v.artist %><br/>
		<%= v.album %><br/>
		<%= v.genre %><br/>
		<%= v.year %><br/>
		<%= link_to 'Delete', v, method: :delete, confirm: 'Are you sure?' %>
		<%= link_to 'Edit', edit_vinyl_path(v) %><br/>
		<%= link_to 'Details', v %>
	</div>
	<% end %>
</div>

<div class="BottomLink">
<%= link_to "Add Vinyl", new_vinyl_path %>
</div>