<h3>Vinyl Details</h3>

<% if @vinyl.cover.present? %>
	<div id="AlbumCoverImage">
		<%= image_tag @vinyl.cover %>
	</div>
<% end %>
<p>Artist: <%= @vinyl.artist %></p>
<p>Album: <%= @vinyl.album %></p>
<p>Genre: <%= @vinyl.genre %></p>
<p>Year: <%= @vinyl.year %></p>

<%= link_to "Edit This Album", edit_vinyl_path(params[:id]), class: "btn btn-danger stacked-btn" %><br/>
<%= link_to "View Collection", vinyls_path %>