<h3>Vinyl Details</h3>

<p>Artist: <%= @vinyl.artist %></p>
<p>Album: <%= @vinyl.album %></p>
<p>Genre: <%= @vinyl.genre %></p>
<p>Year: <%= @vinyl.year %></p>

<%= link_to "View All Albums", vinyls_path %>