<!DOCTYPE html>
<html>
<head>
  <title>RecordStore</title>
  <%= stylesheet_link_tag    'bootstrap', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="header-wrap">
		<div id="header-elements">
			<h1 id="logo"><%= link_to "RecordStore", root_path %></h1>
			<ul id="nav-top">
				<li><%= link_to "About", "#" %></li>
				<li> | </li>
				<li><%= link_to "Contact", "#" %></li>
			</ul>
		</div>
	</div>
	<div id="content">
		<%= yield %>
	</div>
</body>
</html>
